{% extends "layout.html" %}
{% block content %}
    <h1>Contact us</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", placeholder="John Smith")}}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="j.smith@mail.com")}}
        </div>
        <div class="mb-3">
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control")}}
        </div>
        <div class="mb-3">
            {{ form.subject.label(class="form-label") }}
            {{ form.subject(class="form-control")}}
        </div>
        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control")}}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock content %}